{{#if errors.length}}
{{#each errors}}
<li>
    <h5 class="title is-5"> {{this}} </h5>
</li>
{{/each}}
</ul>

{{/if}}


{{#if specialitys}}
<ul>
    <li>
        <h4 class="title is-4">
            Nuvarande Specialiteter!
        </h4>
    </li>
    {{#each specialitys}}
    <li>
        <h6 class="title is-6"> {{this.specialityName}}</h6>
    </li>
    {{/each}}
</ul>
{{/if}}


<div id="newSpecialityFormDiv">

    <h5 class="title is-5" id="notMemberTitle"> Ange den nya specialiteten </h5>
    <form id="newSpecialityForm" method="post" action="/speciality/create">
        <label for="specialityName">SpecialityName:</label><br>
        <input class="input is-normal" type="text" id="specialityName" name="specialityName"><br>
        <input class="button" type="submit" value="Lägg till ny specialitet">
    </form>

</div>