<div id="createBookingDiv">

    <form action="/bookings/create" method="post">
        <label for="doctorID">DoctorID:</label><br>
        <input class="input is-normal" type="text" id="doctorID" name="doctorID"><br>
        <label for="date">Date (dd/mm/yyyy):</label><br>
        <input class="input is-normal" type="text" id="date" name="date"><br>
        <label for="time">time: (hh:mm)</label><br>
        <input class="input is-normal" type="text" id="time" name="time"><br>
        <input class="button" type="submit" value="Lägg till ny bokning">

    </form>

</div>