<div id="createBookingDiv">

    <form action="/bookings/create" method="post">
        <label for="doctorID">Vilken Doktor?:</label> <br>
        <select id="doctorID" class="select" name="doctorID">
            {{#each users}}
            <option value="{{this.userID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select> <br>
        <label for="date">Date (dd/mm/yyyy):</label><br>
        <input class="input is-normal" type="date" id="date" name="date"><br>
        <label for="time">time: (hh:mm)</label><br>
        <input class="input is-normal" type="time" id="time" name="time"><br>
        <input class="button" type="submit" value="Lägg till ny bokning">

    </form>

</div>