<head>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            
            const membershipFormDiv = document.body.querySelector('#membershipFormDiv')
            const loginFormDiv = document.body.querySelector('#loginFormDiv')
            const toggleToMembership = document.body.querySelector('#toggleToMembership')
            const toggleToLogin = document.body.querySelector('#toggleToLogin')
            membershipFormDiv.style.display = "none"
            toggleToMembership.style.display = "block"
            toggleToLogin.style.display = "block"

            toggleToMembership.addEventListener("click", function () {
                membershipFormDiv.style.display = "block"
                loginFormDiv.style.display = "none"
            })
            toggleToLogin.addEventListener("click", function () {
                membershipFormDiv.style.display = "none"
                loginFormDiv.style.display = "block"
            })
        })
    </script>
</head>

<body>

{{#if errors}}
{{#each errors}}
    <li>{{this}}</li>
</ul>
{{/each}}
{{/if}}

    {{#if isLoggedIn}}


        <h5 class="title is-5"> HomeScreen.</h5>
        <h5 class="title is-5"> Du är inloggad.</h5>

    {{else}}


    <div id="loginFormDiv">
        <h5 class="title is-5"> Vänligen logga in först.</h5>
        <form id="loginForm" method="post" action="/account/logIn">
            <label for="socialSecurityNumberLogin">Personnummer:</label>
            <input class="input is-normal" type="text" id="socialSecurityNumberLogin" name="socialSecurityNumberLogin">
            <label for="passwordLogin">Lösenord:</label>
            <input class="input is-normal" type="password" type="password" id="passwordLogin" name="passwordLogin">
            <input class="button" type="submit" value="Logga in">
        </form>

        <a id="toggleToMembership"> Bli medlem</a>

    </div>


    <div id="membershipFormDiv">

        <h5 class="title is-5" id="notMemberTitle"> Ange dina uppgifter nedan för att bli medlem</h5>
        <form id="membershipForm" method="post" action="/account/register">
            <label for="firstName">Förnamn:</label>
            <input class="input is-normal" type="text" id="firstName" name="firstName">
            <label for="lastName">Efternamn:</label>
            <input class="input is-normal" type="text" id="lastName" name="lastName">
            <label for="email">Email:</label>
            <input class="input is-normal" type="text" id="email" name="email">
            <label for="phoneNumber">Mobilnummer:</label>
            <input class="input is-normal" type="text" id="phoneNumber" name="phoneNumber">
            <label for="socialSecurityNumber">Personnummer:</label>
            <input class="input is-normal" type="text" id="socialSecurityNumber" name="socialSecurityNumber">
            <label for="password">Lösenord:</label>
            <input class="input is-normal" type="password" id="password" name="password">
            <input class="button" type="submit" value="Bli Medlem">
        </form>

        <a id="toggleToLogin">Gå till inloggningssidan.</a>

    </div>

    {{/if}}
</body>