{{#if errors.length}}
<h3 class="title is-3"> errors:</h3>

<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>

{{else}}
<ul>
    {{#each users}}
    <li>{{this.firstName}}</li>
    <li>{{this.userPassword}}</li>
</ul>
{{/if}}