<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->

    <link rel="stylesheet" type="text/css" href="Vardportalen.css">
    <link rel="stylesheet" type="text/css" href="bulma.css">
    <link rel="stylesheet" type="text/css" href="bulma.css.map">
    <link rel="stylesheet" type="text/css" href="bulma.min.css">
    <link rel="stylesheet" type="text/css" href="bulma-rtl.css">
    <link rel="stylesheet" type="text/css" href="bulma-rtl.css.map">
    <link rel="stylesheet" type="text/css" href="bulma-rtl.min.css">



    <title>WennerblomsVård</title>
</head>

<body>
    <div class="siteBackgroundColor">
        <div id="siteMargin">

            <input type="image" src="/images/WVLogo.jpeg" alt="Logotyp" width="300" height="200" id="Logotyp">
            <input type="image" src="/images/liv.png" alt="problem" width="500" height="200" id="problem">

            <nav>
                <a class="button" href="/">Start</a>
                <a class="button" href="/bokning">Boka tid</a>
                <a class="button" href="/">Om oss</a>
                <a class="button" href="/">Var ligger vi?</a>
                <a class="button" href="/">Styrelse</a>
                <a class="button" href="/">Frågor & svar</a>
            </nav>

            <main>
                {{{body}}}
            </main>
        </div>
    </div>
</body>

</html>