<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->

    <link rel="stylesheet" type="text/css" href="/Vardportalen.css">
    <link rel="stylesheet" type="text/css" href="/bulma.css">
    <link rel="stylesheet" type="text/css" href="/bulma.css.map">
    <link rel="stylesheet" type="text/css" href="/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/bulma-rtl.css">
    <link rel="stylesheet" type="text/css" href="/bulma-rtl.css.map">
    <link rel="stylesheet" type="text/css" href="/bulma-rtl.min.css">



    <title>WennerblomsV책rd</title>
</head>

<body>
    <div class="siteBackgroundColor">
        <div id="siteMargin">

            <input type="image" src="/images/WVLogo.jpeg" alt="Logotyp" width="300" height="200" id="Logotyp">
            <input type="image" src="/images/liv.png" alt="problem" width="500" height="200" id="problem">

            <nav>
                <a class="button" href="/">Start</a>
                <a class="button" href="/bookings/reserve">Boka Tid</a>
                <a class="button" href="/bookings/showall">Bokningar</a>
                <a class="button" href="/about">Om oss</a>
                <a class="button" href="/location">Var ligger vi?</a>
                <a class="button" href="/account/doctors">V책ra doktorer</a>
                <a class="button" href="/account/newDoctor">L채gg till doktor</a>
                <a class="button" href="/speciality/create">L채gg till Specialitet</a>
                <a class="button" href="/bookings/create">Skapa tom bokning</a>
            </nav>

            <main>
                {{{body}}}
            </main>
        </div>
    </div>
</body>

</html>